#img-container {
    display: flex;
}

.Pug-img {
    margin: 50px;
    display: inline;
    background: white;
    padding: 15px;
    padding-top: 40px;
    border: 1px solid whitesmoke;
    transform: rotate(2deg);
    box-shadow: 5px 10px #8888885c;
    border-top: solid 11px #42444a;
}

ul {
    list-style-type: none;
}