body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: repeating-linear-gradient(
            60deg,
            #ab7c41,
            #ab7c41 50px,
            #bf8843 50px,
            #bf8843 100px);
}
